@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@layer base {
  @font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-Regular.otf') format('otf');
    font-weight: 400;
    font-style: medium;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  position: relative;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.slick-list {
  position: relative;
  display: block !important;
  overflow: hidden;
  padding: 100px !important;
  width: 100%;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}
.slick-slide div {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-slide .image {
  object-fit: cover;
  border-radius: 2px;
  min-width: 150px !important;
  width: 80%;
}
.slick-slide div div span {
  margin-top: 10px;
  width: inherit;
  text-align: center;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #111;
}
@media screen and (max-width: 580px) {
  .slick-slide div div span {
    display: none;
  }
  .slick-slide.slick-current div div span {
    display: block;
    margin-top: 10px;
    width: inherit;
    text-align: center;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #111;
  }
}
.slick-slide:not(.slick-active) {
  position: relative;
  z-index: 997;
}
.slick-slide.slick-active:not(.slick-current) {
  position: relative;
  z-index: 998;
  transform: scale(1.3);
  transition: 0.25s;
}
.slick-slide.slick-active.slick-current {
  position: relative;
  z-index: 999;
  transform: scale(1.6);
  transition: 0.25s;
}
.slick-slide.slick-active:not(.slick-current) .image,
.slick-slide.slick-active.slick-current .image,
.slick-slide:not(.slick-active) .image {
  width: 100% !important;
}

.arrow {
  background-color: green;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  padding: 0.4rem;
  border-radius: 50%;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #00ff66;
}

.next {
  right: 10%;
  top: 50%;
}

.prev {
  left: 10%;
  top: 50%;
}
