@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@layer base {
  @font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-Regular.otf') format('otf');
    font-weight: 400;
    font-style: medium;
  }
}

.reels {
  width: 70%;
  margin: 10rem auto;
  height: 300px;
  padding: 0;
}

.slide img {
  width: 100%;
  margin: 0 auto;
}

.slide {
  transform: scale(0.8); /* this is what the non active image looks like*/
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1); /* what the active image looks like */
  opacity: 1;
}

.arrow {
  background-color: green;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  padding: .4rem;
  border-radius: 50%;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #00ff66;
}

.next {
  right: 20%;
  top: 50%;
}

.prev {
  left: 20%;
  top: 50%;
}

/* medial queries */
@media(max-width: 960px) {
  .reels {
    margin: 10rem auto 0rem;
    height: 500px;
    width: 100%;
  }
  
  .slide img {
    width: 100%;
    /* margin: auto; */
    height: 400px;
  }
  
  .slide {
    transform: scale(0.8); /* this is what the non active image looks like*/
    transition: transform 300ms;
    opacity: 0.5;
  }
  
  .activeSlide {
    transform: scale(1.1); /* what the active image looks like */
    opacity: 1;
  }
  
  .arrow {
    background-color: green;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    padding: .4rem;
    border-radius: 50%;
  }
  
  .arrow svg {
    transition: color 300ms;
  }
  
  .arrow svg:hover {
    color: #00ff66;
  }
  
  .next {
    display: none;
    right: 20%;
    top: 50%;
  }
  
  .prev {
    display: none;
    left: 20%;
    top: 50%;
  }
  
}